// 按照功能
$c-border:#d1d1d1; //适用于边框
$c-light-border:#f0f0f0; //浅颜色边框

$c-text: #4A4A4A; // 适用于正文
$c-light-text: #606266;
$c-tip: #b3b3b3; //适用于提示文字

$c-bg: #F9F9F9; //背景;
$c-bg-gray: #fafafa; //背景;

// 颜色值
$c-red: #F72929;
$c-light-red: #fde2e2;
$c-black: #000;
$c-pink: #FF5F5F;
$c-blue : #348FEE;
$c-green : #009a61;
$c-light-green: #e1f3d8;
$c-gray : #888;
$c-light-gray: #F3F3F3;
$c-orange : #f34e19;
$c-yellow: #e6a23c;
$c-light-yellow: #fdf6ec;
$c-white : #ffffff;

